<div #dropdownTrigger="tkdDropdown" [tkdDropdown]="dropdown" [tabindex]="tabindex" class="border border-subtle hover:border-text-deEmphasized hover:border-opacity-50 cursor-pointer px-2 py-1 bg-white text-sm font-light">
    <ng-template [ngIf]="selectedItem" [ngIfElse]="placeholder">
        <span [innerHTML]="selectedItem.label"></span>
    </ng-template>
    <ng-template #placeholder>
        <span>{{ placeholder }}</span>
    </ng-template>
</div>

<tkd-dropdown #dropdown [minWidth]="width">
    <ng-content></ng-content>
</tkd-dropdown>